div#header {
	width: 100vw;
	display: flex;
    justify-content: space-around;
    align-items: center;
	flex-direction: column;
	padding: 1vw;
	height: $headerHeight;
	border-bottom: $secColor 1px solid;
    background-color: $thiColor;
	>h1 {
		margin: 0px;
	}
}