<div id="shoutbox" ng-enter="sendMessage()">
	<div id="chat">
		<div ng-class="['message-body', {'with-image': message.image}]" ng-repeat="message in messages" ng-init="$last && scrollChat()">
			<span class="username">{{message.username}}</span>
			<span class="message" ng-bind-html="message.message | betterLinky"></span>
			<a ng-if="message.image" class="image" ng-href="{{message.image}}" target="_blank">
				<span class="mdi mdi-open-in-new"></span>
				<img ng-src="{{message.image}}">
			</a>
			<span class="time">{{message.chatTime}}</span>
		</div>
	</div>
	<div id="footer">
		<input id="username-input" placeholder="username" maxlength="20" ng-model="username">
		<input id="message-input" placeholder="shout something" maxlength="80" ng-model="message">


		<label for="image">
			<span class="mdi mdi-image"></span>

			<input id="image-upload" ng-click="removeImage()" name="image" type="file" accept="image/*" ng-image="image" max-height="500" max-width="500" resize-quality="0.7">
		</label>
		<div id="image-preview" ng-show="imagePreviewShown">
			<img ng-src="{{image}}">
			<div id="image-options">
				<span ng-click="closeImagePreview()" class="mdi mdi-check"></span>
				<span ng-click="removeImage()" class="mdi mdi-close"></span>
			</div>
		</div>

		<button ng-click="sendMessage()">
			<span class="mdi mdi-send"></span>
		</button>
	</div>
</div>