@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.1.19/css/materialdesignicons.css");

body {
	$priColor: #353a3a;
	$secColor: white;
	$thiColor: #292d2d;
	$fouColor: #eaecec;
	$headerHeight: 150px;

	@mixin font {
		font-family: "Roboto", sans-serif;
	}

	margin: 0px;
	width: 100vw;
    height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $priColor;
	color: $secColor;
	@include font;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	a {
		text-decoration: none;
		color: $secColor;
	}

	
	> div[ui-view] {
		height: calc(100vh - #{$headerHeight});
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5vw 15vw;
	}
	> {
		@import "styles/start",
		"styles/header";
	}
}